body {
	margin: 0;
	-webkit-animation: bugfix infinite 1s;
	background-color: #000d1a;
	-webkit-animation: color 5s linear 0s infinite alternate running;
	-moz-animation: color 5s linear 0s infinite alternate running;
	animation: color 5s linear 0s infinite alternate running;
}
@-webkit-keyframes color{
  100%{background-color:#000000;}
}
 
@-webkit-keyframes bugfix { 
  from {padding:0;} 
  to {padding:0;} 
}
.header{
	background-color: transparent;
	position: fixed;
	z-index: 999;
	width: 100%;
}
.header-left{
	float: left;
	font-size: 25px;
	margin-top: 5px;
}
.header-left span{
	color: white;
	background-color: black;
	border-radius: 100%;
	padding: 10px;
	width: 49px;
	height: 49px;
	vertical-align: middle;
	text-align: center;
	transition: background-color .4s ease-in;
}
.header-left span:hover{
	color: black;
	background-color: white;
}
.header-right{
	float: right;
}
.header-right img{
	height: 50px;
}
.header-satu{
	margin-top: 10px;
}
.header-utama{
	background-color: transparent;
}
.banner{
	display: table;
	width: 100%;
	height: 700px;
	top: 0;
	left: 0;
	background: transparent;
}
.text-banner{
	vertical-align: middle;
	text-align: center;
	display: table-cell;
	color: white;
}
.text-banner h1{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
.arrow-banner{
	display: table-row;
	text-align: center;
	font-size: 25px;
	position: relative;
	top: 180px;
}
.arrow-banner span .glyphicon{
	text-align: center;
}
.arrow-banner span{
	color: black;
	background-color: white;
	border-radius: 100%;
	padding: 10px;
	width: 49px;
	height: 49px;
	vertical-align: middle;
	text-align: center;
	transition: background-color .3s ease-in;
}
.arrow-banner span:hover{
	color: white;
	background-color: black;
}
.profile{
	vertical-align: middle;
	background-color: white;
	border-top: 10px black solid;
	padding-bottom: 5%;
}
.intro-profile{
	height: 200px;
}
.intro-profile h1{
	color: #cccccc;
	font-family: Impact, Charcoal, sans-serif;
	text-align: center;
	margin-top: 10%;
}
/*.profile img{
	border-radius: 100%;
	height: 200px;
	margin: 20px;
	margin-left: 20%;
}*/
.pro-img{
	border-radius: 100%;
	height: 200px;
	width: 200px;
	border: 3px #0088cc solid;
	position: relative;
	margin-left: 10%;
	cursor: pointer;
}
.pro-mask{
	border-radius: 100%;
	height: 200px;
	border:3px transparent;
	width: 200px;
	position: absolute;
	background-position: center;
	background-size: 100%;
	opacity: 0;
	transition: opacity .7s linear;
}
.pro-img .pro-img-text{
	vertical-align: middle;
	position: relative;
	color: black;
	margin-top: 45%;
}
.show-pro-img{
	opacity: 1;
}
.profile-1{
	text-align: center;
	vertical-align: middle;
	margin-top: 50px;
	opacity: 0;
	transition: opacity .7s linear;
}
.pro-animate{
	opacity: 1;
}
.profile h2{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: 10px;
	display: block;
	color: #0088cc
}
.profile h5{
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.profile p{
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin-left: 10px;
}
.profile-hover p span{
	font-size: 30px;
	color: #0088cc;
	vertical-align: middle;
}
.profile-hover p{
	font-size: 20px;
	color: #0088cc;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	cursor: pointer;
}
.cek-pro{
	margin-left: 20px;
	margin-top: 20px;
}
.cek-pro a{
	background-image:  linear-gradient(to bottom, #0088cc 50%, #808080 50%);
	padding: 10px;
	 background-size: 100% 200%;
	border-radius: 4px;
	color: white;
	transition: background-position .5s
}
.cek-pro a:hover{
	background-position: 0 -100%;
	color: white;
	text-decoration: none;
}

.project{
	/*background-color: white;*/
	height: 660px;
}
.project-title{
	font-family: Impact, Charcoal, sans-serif;
	color: white;
	position: relative;
	text-align: center;
}
.project-title h1{
	vertical-align: middle;
	position: relative;
	padding-top: 25%;
}
.cont-comp{
	margin: 0;
}
.project-div{
	/*display: inline-block;*/
}
.project-content{
	/*height: 225px;*/
	position: relative;
	display: flex;
	/*padding: 15px;*/
	margin: 10px;
	margin-left: 0;
	width: auto;
	/*background-color: white;*/
}
.project-img img{
	height: 180px;
}
.content-dalam{
	display: inline-block;
	text-align: center;
	padding: 10px;
}
.content-col{
	background-color: white;
	border-right: 5px #3399ff solid;
	height: 660px;
}
.project-content-mask a{
	padding: 5px;
	text-decoration: none;
}
.project-content-mask a:hover,.project-content-mask a:active {
	text-decoration: none;
	padding: 5px;
}
.project-content-mask a:before{
	content:'';
	transform: translate(-150%, 0);
}
.project-content-mask a:hover span,
.project-content-mask a:active span{
	opacity:0;
	transform: scale(0.3);
}
.project-content-mask a:hover:before{
	opacity: 1;
    transform: translate(0,0);
}
.project-content-mask a:before,.project-content-mask a:after {
	 content:  attr(data-hover);
    position: absolute;
    top: 0.67em;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: .4s,opacity .6s;
    -moz-transition: .4s,opacity .6s;
    -o-transition: .4s,opacity .6s;
    transition: .4s,opacity .6s;
}
.project-content-mask span{
	transition: 0.6s;
}
.project-content-mask a:after{
	content:attr(data-active);
	transform: translate(150%,0);
}
.project-content-mask a:hover:before,
.project-content-mask a:active:after{
	opacity: 1;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}
.project-content-mask a:active:before{
	transform: translate(-150%,0);
}
.project-content-mask{
	 display: inline-block;
    position: relative;
    /*margin: 1em;*/
    padding: 0.67em;
    border: 2px solid #FFF;
    overflow: hidden;
    text-decoration: none;
    outline: none;
    width: 120px;
    text-align: center;
    color: #3399ff;
    background: white;
    font-family: 'raleway', sans-serif;
}
.blogs{
	background-color: white;
}
.blog-isi{
	/*padding: 10px;*/
}
.gambar-blog {
	height: 200px;
	width: 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 212%;
}
.blog-title{
	font-family: Impact, Charcoal, sans-serif;
	color: #cccccc;
	position: relative;
	text-align: center;
}
.blog-title h1{
	vertical-align: middle;
	position: relative;
	padding: 5% 0;
	line-height: 5%;
}
.gambar-blog .blog-mask{
	opacity: 0.8;
	background-color: black;
	width: 200px;
	position: absolute;
	height: 200px;
	z-index: 2;
	transition: .8s;
}
.blog-konten{
	display: table;
	width: 100%;
	height: 100%;
}
.blog-isi img{
	height: 200px;
	width: 200px;
	display: block;
}
.blog-isi{
	position: relative;
}
.gambar-blog .text-blog{
	vertical-align: middle;
	position: relative;
	z-index: 3;
	color: #fff !important;
	text-align: center;
	display: table-cell;
}
.text-blog{
	 white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.blog-isi:hover .blog-mask{
	bottom: 0;
  	height: 100%;
}
.cont-comp{
	margin-bottom: 10px;
}
.blog-mask{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 200px;
  height:0;
  transition: .5s ease;
  opacity: .8;
}
.enquiry h1{
	font-family: Impact, Charcoal, sans-serif;
	text-align: center;
}
.enquiry{
	background-color: white;
	padding-top: 100px;
	padding-bottom: 50px;
}
.enquiry h2{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
.enq-left{
	padding: 10px;
	width: 75%;
}
.enq-left .glyphicon{
	font-size: 30px;
	vertical-align: middle;
}
.enq-right i{
	font-size: 20px;
	width: 30px;
}
.enq-right i img{
	height: 20px;
	text-align: left;
}
.enq-right{
	margin-left: 120px;
}
.footer{
	text-align: center;
	vertical-align: bottom;
	padding-top: 20px;
	background-color: #001a33;
	color: white;
	padding-bottom: 10px;
}
.tabs{
	background-color: black;
	position: absolute;
	z-index: 100;
	right: 10px;
	bottom: 0;
}
.tabs li{
	text-decoration: none;
	color: white;
	padding: 10px;
	list-style: none;
	font-size: 25px;
}
.tabs li a i{
	color: white;
}
.tabs li.active{
	background-color: #333333;
}
.affix {
	top: 100px;
	height: 235px;
}

nav {
	position: fixed;
	z-index: 1000;
	background-color: #b3b3b3;
	border-right: 3px #3399ff solid;
	width: 20%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	left: -20%;
	transition: .3s;
}
.nav-side{
	position: relative;
	width: 100%;
	padding-top: 20px;
}
nav a{
	color: white;
	background-color: #b3b3b3;
	padding: 10px;
	padding-left: 25px;
	display: block;
	transition: all .2s linear;
}
nav a:hover{
	color: white;
	text-decoration: none;
	background-color: #737373;
}
.nav-head img{
	height: 50px;
	padding: 5px;
}
.nav-head p{
	font-size: 25px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: white;
}
.nav-head a{
	font-size: 40px;
	font-weight: bold;
	color: white;
	right: 0;
	top: 0;
	padding: 7px;
	position: absolute;
	background-color: #b3b3b3;
}
.nav-head a:hover{
	text-decoration: none;
	color: white;
	background-color: #999999;
}
.nav-head{
	padding: 5px;
	/*height: 70px;*/
	background-color: #4d4d4d;
}

.small-sc{
	display: none;
	background-color: #bfbfbf;
	width: 100%;
	height:100%;
	position: absolute;
	z-index: 1000;
}
@media screen and (max-width: 980px){
	.project-title h1{
		padding-top: 0;
	}
}
@media screen and (max-width: 1200px){
	.small-sc{
		display: none;
		text-align: center;
		vertical-align: middle;
	}
	#charging{
		font-size: 50px;
		margin-top: 200px;
	}
	.small-sc h2{
		margin: 25px;
		margin-top: 15px;
		font-family:Courier New;
	}
	.tabs{
		/*display: none;*/
	}
	#nav{
		/*display: none;*/
	}
	.header-utama{
		/*display: none;*/
	}
	#banner1{
		/*display: none;*/
	}
	#intro{
		/*display: none;*/
	}
	.arrow-banner{
		top: 0;
	}
	.atas{
		width: 100%;
		padding: 15px 0;
	}
	.project{
		/*display: none;*/
		height: 100%;
	}
	.title-p{
		padding-bottom: 20px;
	}
	.left-float{

	}
	.blog-isi{
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
	.content-col{
		border: none;
		height: 100%;
	}
	.project-div{
		margin-left: 20px;
	}
	.blog-isi{
		text-align: center;
		display: block;
		width: 230px;
		left: 5%;
	}
	#enquiry1{
		/*display: none;*/
	}
	.enq-right{
		margin-left: 0;
	}
	.enquiry{
		padding-top: 25px;
	}
	.footer{
		/*display: none;*/
	}
}
@media screen and (max-width: 45em){
	.profile-hover{
		display: none;
	}
	.profile-1{
		opacity: 1;
	}
	.intro-profile{
		height: auto;
	}
	.pro-mask{
		opacity: 1;
	}
	.pro-img-text{
		opacity: 0;
	}
	.pro-img{
		display: none;
	}
	.blog-isi{
		left: 10%;
	}
	.tabs{
		display: none;
	}
	.nav-head cont{
		display: none;
	}
	.nav-head p{
		margin-left: 15%;
	}
	.enq-left{
		width: 100%;
	}
	.enq-left .glyphicon {
		font-size: 20px;
	}
	.enq-right{
		margin-left: 0;
	}
	.enquiry{
		padding-top: 25px;
	}
	nav{
		left: -40%;
		width: 40%;
	}
	.project-title h1{
		padding-top: 0;
	}
}