body {
  margin: 0;
  -webkit-animation: bugfix infinite 1s;
}
 
@-webkit-keyframes bugfix { 
  from {padding:0;} 
  to {padding:0;} 
}

nav {
  position: fixed;
  left: -75%;
  width: 75%;
  height: 100%;
  padding: 5em 0 0 0;
  background: #0066cc;
 
  -webkit-transition: left 0.5s;
     -moz-transition: left 0.5s;
      -ms-transition: left 0.5s;
       -o-transition: left 0.5s;
          transition: left 0.5s;
}
/*.close {
  cursor: pointer;
  color: white;
  opacity: 1;
  position: fixed;
  font-size: 40px;
  margin-top: -45px;
}*/
 
.close:hover {
  color: white;
  opacity: 0.8;
  position: fixed;
}
 
.close span {
  border-radius: 50%;
  padding: 0.2em 0.4em;
}
#toggle {
  position: absolute;
  left: -999em;
}
#nav {
  margin: 0.1875em 0 0 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #777;
}
         
#nav a {
  text-decoration: none;
  color: #fff;
  padding: 1em 0 1em 5%;
  display: block;
  height: 4em;
  background-color: #0066cc;
  -webkit-transition: border-bottom .45s ease;
  -moz-transition: border-bottom .45s ease;
  transition: border-bottom .15s ease;
}
 
#nav a:hover {
  border-bottom: 5px white solid;
	padding-bottom: 15px;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}
 
.inner {
  float: right;
  width: 100%;
 
  -webkit-transition: 0.5s;
     -moz-transition: 0.5s;
      -ms-transition: 0.5s;
       -o-transition: 0.5s;
          transition: 0.5s;
}
:checked ~ nav {
  left: 0;
}
     
:checked ~ nav .close {
  position: fixed;
  top: 1.5em;
  left: 4%;
  position: fixed;
}
:checked ~ .wrapper .inner {
  margin-right: -75%;
}
@media screen and (min-width: 45em) {
  header {
    padding-bottom: 5em;
    background-color: #0066cc;
	left: 0;
	top: 0;
	width: 100%;
	height: 71px;
	text-align: center;
  }
}
@media screen and (min-width: 45em) {
  :checked ~ .wrapper .inner {
    margin-right: 0%;
    -webkit-transition: 0;
       -moz-transition: 0;
        -ms-transition: 0;
         -o-transition: 0;
            transition: 0;
  }
}
@media screen and (min-width: 45em) {
  nav,
  :checked ~ nav {
    float: right;
    position: static;
    background: transparent;
    padding: 0;
    height: auto;
    width: 100%;
    -webkit-transition: 0;
       -moz-transition: 0;
        -ms-transition: 0;
         -o-transition: 0;
            transition: 0;
  }
}
@media screen and (min-width: 45em) {
  nav .close,
  :checked ~ nav .close {
    display: none;
    position: fixed;
    font-size: 40px;
  }
}
@media screen and (min-width: 45em) {
  #nav {
    position: absolute;
    top: 1.5em;
    right: 20%;
    border: 0;
    z-index: 1000;
  }
             
  #nav li {display: inline; float: left;}
  #nav li.current a {
  	color: #fff;
	padding-bottom: 15px;
	border-bottom: 5px white solid;
}
             
  #nav a {
    padding: 0 1.5em;
    display: inline;
    border: 0;
    background: transparent;
  }
                 
  #nav a:hover {background: transparent;}
 
  #sidebar {
    margin-top: 5.5em;
  }
}
@media screen and (min-width: 45em){
    .affix{
      position: static;
    }
  }
@media screen and (max-width: 45em){
	.header{
		padding-bottom: 10px;	
	    background-color: #0066cc;
	    padding-top: 10px;
	    left: 0; 
	    top: 0; 
	    width: 100%;
      height: 75px;
	}
	
	.glyphicon {
    	color: white;
  	}
  	.title{
  		color: white;
  		display: inline;
  	}
  	.title img{
  		height: 50px;
  		text-align: center;
  		margin-right: 10%;
		float: right;
  	}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
:checked ~ nav {
  left: 0;
}
     
:checked ~ nav .close {
  position: fixed;
  top: 1.5em;
  left: 4%;
  position: fixed;
}
:checked ~ .wrapper .inner {
  margin-right: -75%;
}
.tambah-delete{
  z-index: -99;
  position: relative;
}
:checked ~ .inputan a{
    display: none;
  }
}

/*header{
	height: auto;
	background-color: #0066cc;
}
header li{
	list-style: none;
	display: inline-block;
	margin-right: 20px;
	margin-top: 25px;
	margin-bottom: 20px;
}
header li a{
	color: white;
	padding: 10px;
}
header li a:hover{
	background-color: #004080;
	color: white;
	text-decoration: none;
	padding: 10px;
}*/
span.glyphicon{
	color: white;
	text-decoration: none;
}

.inputan{
  margin-top: 10px;
  margin-left: 20px;
}
.inputan input{
  max-width: 80px;
}
.inputan a{
	margin-left: 10px;
	position: relative;
	background-color: #80bfff;
	padding: 3px;
	border-radius: 10px;
}
:checked ~ .inputan a{
    display: none;
    position: relative; 
  }
.inputan a .glyphicon-remove{
	margin-left: 20px;
	position: absolute;
	background-color: #80bfff;
	padding: 3px;
	border-radius: 10px;
}
.inputan label{
  margin-right: 10px;
}
.konten form{
  display: inline-block;
  text-align: left;
  position: relative;
  width: 47%;
}
.inputan input[disabled]{
  background-color: transparent;
  border-bottom: 3px  #3399ff solid;
  text-align: center;
  border-left: none;
  border-top: none;
  border-right: none;
}
.inputan input{
  background-color: white;
  border-bottom: 3px #99ccff solid;
  border-top: none;
  border-right: none; 
  border-left:none;
  -webkit-transition: background-color .65s ease-in;
  transition: background-color .65s ease-in;
}
.inputan input:focus{
  background-color: #cce6ff;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 3px #99ccff solid;
  height: 30px;
  animation: field 0.25s linear;
  outline: none;
}
@keyframes field{
  from{height: 25px;}
  to{height: 30px;}
}
.konten{
	text-align: center;
	margin-top: 40px;
  position: relative;
}
.ipk-1{
  transform: translateX(300px);
  opacity: 0;
  animation: slider 1s ease;
}
.ipkf {
  animation: slider 1s ease;
}
.ipsf {
  animation: slider-1 1s ease;
}
.ipsf-back{
  animation: slider-1b 1s ease;
}
.ipkf-back{
  animation: sliderb 1s ease;
}
@keyframes slider{
  from{
    transform: translateX(300px);
    opacity: 0;
  }to{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slider-1{
  from{
    transform: translateX(-300px);
    opacity: 0;
  }to{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes sliderb{
  from{
    transform: translateX(0);
    opacity: 1;
  }to{
    transform: translateX(300px);
    opacity: 0;
  }
}
@keyframes slider-1b{
  from{
    transform: translateX(0);
    opacity: 1;
  }to{
    transform: translateX(-300px);
    opacity: 0;
  }
}

.navigasi{
  margin-top: 30px;
  border-bottom: 2px #003366 solid;
  padding-bottom: 15px; 
  padding-top: 5px;
  margin-left: 5%;
  width: 90%;
  background-color: white;
}
.navigasi input{
  background-color: transparent;
  outline: none;
  border: none;
  padding-top: 5px;
  margin-left: 20px;
}
.navigasi input:hover{
  border-top: 4px #3399ff solid ;
}
.navigasi input:focus,.ipbtn.active{
  border-top: 4px #3399ff solid ;
}
@media screen and (max-width: 45em){
    .navigasi{
      z-index: 999;
      width: 100%;
      margin-left: 0;
    }
    .navigasi input{
    }
     .affix {
      top: -30px;
      width: 100%;
  }
  }
.tombol{
	/*display: block;*/	
}
.tombol input{
	background-color:  #3399ff;
	color: white;
	border-radius: 10px;
	border: none;
	padding: 5px 15px 5px 15px;
}
.tombol input:hover{
	background-color: #0059b3;
	color: white;
	border-radius: 10px;
	border: none;
	padding: 5px 15px 5px 15px;
}
@media screen and (max-width: 45em){
	.tombol{
	/*display: block;	*/
	}
	.tombol input{
		background-color:  #3399ff;
		color: white;
		border-radius: 10px;
		border: none;
		padding: 5px 15px 5px 15px;
	}
	.tombol input:hover{
		background-color: #0059b3;
		color: white;
		border-radius: 10px;
		border: none;
		padding: 5px 15px 5px 15px;
	}
	button.close{
		float: right;
	}
  .konten form{
  display: inline-block;
  text-align: left;
  position: relative;
  width: 90%;
  }
}
.konten h4{
  text-decoration: underline;
  color: #1a8cff;
}
.konten-0{
  /*display: none;*/
}
.konten-0-sh{
  display: block;
}
.konten label{
  width: 100px;
}
.konten-0 a{
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: white;
}
.konten-0 p{
  animation: fadeEff 1s;
}
@keyframes fadeEff{
  from{opacity: 0;}
  to{opacity: 1}
}

.petunujuk{
	width: 75%;
	margin-left: 12.5%;
	background-color: #1a8cff;
	color: white;
	border-radius: 15px;
	padding: 10px;
	border:2px #990000 solid;
	margin-top: 30px;
}
.utama{
	height: 490px;
}

footer{
	background-color: #001a33;
	margin-top: 50px;
  -webkit-animation: color 5s linear 0s infinite alternate running;
  -moz-animation: color 5s linear 0s infinite alternate running;
  animation: color 5s linear 0s infinite alternate running;
}
@-webkit-keyframes color{
  100%{background-color:#1a8cff;}
}
@-moz-keyframes color{
  100%{background-color:#1a8cff;}
}
@keyframes color{
  100%{background-color:#1a8cff;}
}
footer p{
	color: white;
	margin-top: 20px;
}
.socmed{
	float: right;
	display: inline-block;
	margin-top: -30px;
}
.socmed img{
	height: 20px;
}

@media screen and (max-height:450px ){
	.utama{
		min-height: 600px;
		height: auto;
	}
}
@media screen and (min-height:450px ){
	.utama{
		min-height: 490px;
		height: auto;
	}
}
@media screen and (max-width: 385px ){
	.inputan input{
		width: 50px;
	}

}

/*==================MODAL============================*/
.kontak img{
	height: 80px;
	border-radius: 100%;
}
.me{
	display: inline-block;
	padding: 10px;
	vertical-align: middle;
}
.kontak .socmed {
	background-color: #3399ff;
	margin-top: 10px;
	padding: 10px;
	margin-right: 15px;
}
.kontak .socmed img{
	height: 40px;
	border-radius: 0;
}

.don img{
	height: 30px;
}
.don {
	text-align: center;
}
button.tombol:hover{
	background-color: #003366;
	color: white;
}

 .head-nav{
      color: white;
      display: inline;
      padding: 10px;
    }
    .head-nav span{
      font-size: 20px;
      text-align: center;
      margin: 10px auto;
    }
    .head-nav a{
      vertical-align: middle;
      color: white;
      font-size: 20px;
    }
  .head-nav a:hover,.head-nav a span:hover{
    text-decoration: none;
    color: #e6e6e6;
  }
  .left{float: left; margin: 0 0 0 5px;}.right{float: right; margin: 0 5px 0 0;}
  
  /*shorten*/
.short{
  text-align: center;
  display: block;
  padding-top:90px; 
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: 31%;
}
@media screen and(max-width: 380px){
  .short{
    background-image: url(../img/bg.png);
  background-repeat: no-repeat;
    background-size: 54%;
  }
}
.short span.glyphicon{
  color: #0066cc;
}
.title-short{
  text-align: center;
  margin: 0 auto;
}
.title-short h3,.title-short span{
  display: inline-block;
  margin: 0 10px 0 0;
  vertical-align: middle;
  color: #0066cc;
}
.title-short span{
  font-size: 30px;
}
.title-short h3{
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}
.title-short p{
  color: #a6a6a6;
}
.form-short{
  margin: 20px 0 0 0;
}
.form-short input{
  width: 65%;
  height: 40px;
  vertical-align: bottom;
  transition: .4s;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px #d9d9d9 solid;
}
.form-short input:focus{
  background-color: #e6f2ff;
}
.form-short button{
  background-color: #d9d9d9;
  height: 40px;
  width: 100px;
  border: none;
}
.form-short span.glyphicon{
  font-size: 30px;
}
.form-short input[name=customUrl]{
  margin-top: 10px;
  width: 0;
  float: left;
  margin-left: 12.5%;
  padding-left: 5px;
  transition: width .4s;
}
button.cstm-btn{
  margin-top: 10px;
  float: left;
  margin-left: 5px;
}
button.cstm-after{
  margin-left: 10px;
}
.shrt button{
  background-color: #0066cc;
  color: white;
}
.form-short input[id="short_res"]:focus{
  border: none;
}
.form-short input[id="short_res"]{
  background-color: #e6f2ff;
  border: none;
}
.err404{
  text-align: center;
  padding-top: 50px;
}
.err404 input{
  background-color: #0066cc;
  color: white;
  border: none;
  padding: 10px;
}
.error{
  background-color: #5597da;
  color:white;
  padding: 5px;
  border-radius: 5px;
  margin: 10px 15% 10px 15%;
}

@media screen and (max-width: 360px ){
  .form-short input[name=customUrl]{
    width: 150px;
  }
}